<!-- <div class="row bg"> -->
  <!-- <img src="../../assets/HomePage_Default.jpg" class="img-fluid img-thumbnail"> -->
<!-- <div class="login-container">
  <div class="login-form-2 text-center">
    <h3>Login</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email *" value="" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Your Password *" value="" />
        </div>
        <div class="form-group">
            <input type="submit" class="btnSubmit" value="Login" />
        </div>
</div>
</div> -->
<!-- </div> -->

<div class="card">
    <img class="card-img" src="../../assets/HomePage_Default.jpg">
 <!-- <div class="card-img-overlay">
    <div class="card-title text-white text-center mt-10"><h1>FIND YOUR PARTNER</h1></div>
    <small class="card-text">Test</small>
  </div> -->
</div>


