.dropdown-toggle,.dropdown-item{
    cursor: pointer;
}

img{
    max-height: 50px;
    border:2px solid white;
    display: inline;
}
form-control{
    display: inline;
}
.textalign{
    text-align: center;
}
.font{
    font-family: "Times New Roman", Times, serif;
}
/* 
.dropdown-toggle,.dropdown-item{
    cursor: pointer;
}

img{
    max-height: 50px;
    border:2px solid white;
    display: inline;
} */