<form #registerForm ="ngForm" id="registerForm" name="registerForm" (ngSubmit)="registerForm.form.valid && Register()">
  <!-- <h2 class="text-center text-danger">Register</h2> -->
  <!-- <hr> -->
<div class="d-flex mt-2">
    <div class="pl-2">
  <div class="ml-2 card rounded pl-2 pr-2 pt-1" style="width: 18rem;">
  <div class="card-header bg-danger text-white rounded pb-2 h6">Basic</div>
  <!-- <div class="form-group mt-2">
      <input required minlength="6" type="text" class="form-control textbox" name="firstName"
      [(ngModel)]="user.name" #firstName="ngModel" [ngModelOptions]="{standalone: true}"
      placeholder="Enter Your Name">
      <div class="alert alert-danger" style="width: 2;height:1;" *ngIf="(registerForm.submitted && firstName.errors || firstName.touched && firstName.errors)">
          <div [hidden]="!firstName.errors.required">Name is required</div>
          <div [hidden]="!firstName.errors.minlength">Name must be a minimum of 6 characters long</div>
      </div>
</div> -->

  <div class="form-group mt-2">
    <input type="text" name="firstName" class="form-control textbox" [(ngModel)]="user.name" #firstName="ngModel" 
    [ngClass]="{'is-invalid': registerForm.submitted && firstName.invalid }" required placeholder="Enter Your FirstName">
  </div>

  <div class="form-group">
    <!-- <ngx-select-dropdown name="profileCreatedFor" (change)="onProfileCreatedChanged($event)"
    [(ngModel)]="user.profileCreatedFor" [multiple]=false  #profileCreatedFor="ngModel" required
    [ngClass]="{'is-invalid': registerForm.submitted && profileCreatedFor.invalid || profileCreatedFor.touched && profileCreatedFor.invalid }"
    [config]="helperService.ProfileForConfig" [options]="profileFors"></ngx-select-dropdown> -->
    <select name="profileCreatedFor" [(ngModel)]="user.profileCreatedFor" [selectedIndex]=0
    #profileCreatedFor="ngModel" required  class="form-control form-control" 
    [ngClass]="{'is-invalid': registerForm.submitted && IsValidProfile() }">
      <option 
       *ngFor="let profile of profileFors"
       >{{profile}}</option>
    </select>
  </div>
  <div class="form-group dropDownBox">
    <select name="gender" [(ngModel)]="user.gender" [selectedIndex]=0
    #gender="ngModel" required class="form-control form-control" 
    [ngClass]="{'is-invalid': registerForm.submitted && IsValidGender()}">
      <option 
       *ngFor="let gender of genderOptions"
       >{{gender}}</option>
    </select>
  </div>
  <div class="form-group dropDownBox">
    <select name="maritalStatus" [(ngModel)]="user.maritalStatus" [selectedIndex]=0
    #maritalStatus="ngModel" required class="form-control form-control" 
    [ngClass]="{'is-invalid': registerForm.submitted && IsValidMstatus()}">
      <option 
       *ngFor="let mstatus of mariatalStatus"
       >{{mstatus}}</option>
    </select>

  </div>
   <div class="form-group">
    <input type="text" class="form-control textbox" [ngClass]="{'is-invalid': registerForm.submitted && dateOfBirth.invalid }" bsDatepicker [(ngModel)]="user.dateOfBirth"
    [bsConfig]="bsConfig" placeholder="Date Of Birth" required name="dateOfBirth" #dateOfBirth="ngModel" >
  </div>
  <div class="form-group">
    <!-- <international-phone-number  [(ngModel)] = "user.mobileNumber" [ngClass]="{'is-invalid':registerForm.submitted}" #phoneNumber="ngModel" [required] = "true"
      placeholder="Enter your phone number" [maxlength]="20" [defaultCountry]="'in'" name="phone_number" [allowedCountries]="['in', 'ca', 'us']" ></international-phone-number>
      <div *ngIf="registerForm.submitted && !phoneNumber.valid" class="help-block">Phone number is required and should be valid</div> -->

      <input type="text" name="phoneNumber" class="form-control textbox"   maxlength="20" [(ngModel)]="user.mobileNumber" #phoneNumber="ngModel"  
      [ngClass]="{'is-invalid': registerForm.submitted && phoneNumber.invalid }" required placeholder="Enter your phone number">
</div>
  <div class="form-group dropDownBox">
    <ngx-select-dropdown [multiple]=false [(ngModel)] = "user.height" #height="ngModel" name="height"
    [config]="helperService.HeightConfig" [options]="helper.GetFeetWithInches()"></ngx-select-dropdown>
  </div>
  <div class="form-group">
        <input type="number" class="form-control textbox" [(ngModel)] = "user.weight" name="weight" #weight = "ngModel"
        placeholder="Enter Your Weight"  min="10" max="100">
  </div>
      <!-- <div class="form-group">
          <input type="text" class="form-control textbox"
          formControlName="email"  placeholder="Enter Your Email"  min="10" max="100">
        </div> -->
 
    </div>
  </div>
  <div class="pl-2">
      <div class="ml-2 card rounded mb-2 pl-2 pr-2 pt-1" style="width: 18rem;">
          <div class="card-header bg-danger text-white rounded pb-2 h6">Religious</div>
          <div class="card-content">
              <div class="form-group dropDownBox mt-2">
                  <ngx-select-dropdown [(ngModel)] = "user.religion" [multiple]=false (change)="onRelegionChanged($event)"
                  name="religion" #religion = "ngModel"
                  [config]="helperService.ReligionConfig" [options]="religions"></ngx-select-dropdown>
                </div>
                <div class="form-group dropDownBox">
                  <ngx-select-dropdown [multiple]=false [(ngModel)] = "user.cast" name="cast" #cast = "ngModel"
                  [config]="helperService.CasteConfig" [options]="castes"></ngx-select-dropdown>
                </div>
                <div class="form-group dropDownBox">
                    <ngx-select-dropdown [multiple]=false [(ngModel)] = "user.motherTongue"  name="motherTongue" #motherTongue = "ngModel"
                    [config]="helperService.MotherTongueConfig" [options]="mothertongues"></ngx-select-dropdown>
                </div>
          </div>
          </div>
          <div class="ml-2 card rounded  pl-2 pr-2 pt-1 clearfix">
              <div class="card-header bg-danger text-white rounded pb-2 h6">Professional</div>
              <div class="card-content">
                  <div class="form-group mt-2">
                      <input type="text" class="form-control textbox"
                      [(ngModel)] = "user.highestQualification"
                      placeholder="Heighest Education">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control textbox"
                        [(ngModel)] = "user.employmentType"
                        placeholder="Employment Type">
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control textbox"
                          [(ngModel)] = "user.occupation"
                          placeholder="Occupation">
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control textbox"
                          [(ngModel)] = "user.monthlyIncome"  placeholder="Monthly Income">
                      </div>
              </div>
          </div>
           
  </div>
  <div class="pl-2">
      <div class="ml-2 card rounded mb-2 pl-2 pr-2 pt-1" style="width: 18rem;">
          <div class="card-header bg-danger text-white rounded pb-2 h6">Horoscope</div>
          <div class="card-content">
                <div class="form-group dropDownBox mt-2">
                    <ngx-select-dropdown [(ngModel)] = "user.star" [multiple]=false (change)="onStarChanged($event)"
                    [config]="helperService.StarConfig" [options]="stars"></ngx-select-dropdown>
                </div>
                <div class="form-group dropDownBox">
                    <ngx-select-dropdown [(ngModel)] = "user.raasi" [multiple]=false 
                    [config]="helperService.RashiConfig" [options]="rashis"></ngx-select-dropdown>
                </div> 
                <div class="form-group">
                    <ngx-select-dropdown [(ngModel)] = "user.chovvaDosam" [multiple]=false (change)="onDoshamChanged($event)"
                    [config]="helperService.DoshamConfig" [options]="doshams"></ngx-select-dropdown>
                </div>
          </div>
      </div>
      <div class="ml-2 card rounded mb-2 pl-2 pr-2 pt-1 clearfix" style="width: 18rem;">
        <div class="card-header bg-danger text-white rounded pb-2 h6">Habits</div>
        <div class="card-content mt-1">
          <small class="text-muted">Food Habits</small>
          
          <div class="fome-check pl-4">
            <label class="fome-check-label">
              <input class="form-check-input" [(ngModel)] = "user.foodHabits" type="radio" name="optradio" value="Vegetarian">Vegetarian
            </label>
            <label class="fome-check-label pl-4">
              <input class="form-check-input" [(ngModel)] = "user.foodHabits" type="radio" name="optradio" value="Non Vegetarian">Non Vegetarian
            </label>
            <label class="fome-check-label">
              <input class="form-check-input" [(ngModel)] = "user.foodHabits" type="radio" name="optradio" value="Eggetarian">Eggetarian
            </label>
          </div>
        </div>
        <div class="card-content">
          <small class="text-muted">Smoking</small>
          <div class="fome-check pl-4">
            <label class="fome-check-label">
              <input class="form-check-input" [(ngModel)] = "user.smoking" type="radio" name="optradiosmoke" value = "No">No
            </label>
            <label class="fome-check-label pl-4">
              <input class="form-check-input" [(ngModel)] = "user.smoking" type="radio" name="optradiosmoke" value="Occassionally">Occasionally
            </label>
            <label class="fome-check-label pl-4">
              <input class="form-check-input" [(ngModel)] = "user.smoking" type="radio" name="optradiosmoke" value="Yes">Yes
            </label>
          </div>
        </div>
        <div class="card-content">
          <small class="text-muted">Drinking</small>
          <div class="fome-check pl-4">
            <label class="fome-check-label">
              <input class="form-check-input" [(ngModel)] = "user.drinking" type="radio" name="optradiodrink" value = "No">No
            </label>
            <label class="fome-check-label pl-4">
              <input class="form-check-input" [(ngModel)] = "user.drinking" type="radio" name="optradiodrink" value="Occassionally">Occasionally
            </label>
            <label class="fome-check-label pl-4">
              <input class="form-check-input" [(ngModel)] = "user.drinking" type="radio" name="optradiodrink" value="Yes">Yes
            </label>
          </div>
        </div>
      </div>
  </div>
  <div class="pl-2">
    <div class="ml-2 card rounded mb-2 pl-2 pr-2 pt-1" style="width: 18rem;">
      <div class="card-header bg-danger text-white rounded pb-2 h6">Family</div>
      <div class="form-group dropDownBox mt-2">
        <ngx-select-dropdown [(ngModel)] = "user.familyStatus" [multiple]=false (change)="onFamilyStatusChanged($event)"
        [config]="helperService.FamilystatusConfig" [options]="familystatuses"></ngx-select-dropdown>
      </div>
      <div class="form-group">
        <ngx-select-dropdown [(ngModel)] = "user.familyType" [multiple]=false (change)="onFamilyTypeChanged($event)"
        [config]="helperService.FamilytypeConfig" [options]="familytypes"></ngx-select-dropdown>
      </div>
      <div class="form-group">
        <ngx-select-dropdown [(ngModel)] = "user.familyValues" [multiple]=false (change)="onFamilyValueChanged($event)"
        [config]="helperService.FamilyValueConfig"  [options]="familyvalues"></ngx-select-dropdown>
      </div>
    </div>
    <div class="ml-2 card rounded mb-2 pl-2 pr-2 pt-1 clearfix" style="width: 18rem;">
      <div class="card-header bg-danger text-white rounded pb-2 h6">Location</div>
      <div class="form-group dropDownBox mt-1">
          <ngx-select-dropdown [(ngModel)] = "user.country" [multiple]=false (change)="onCountryChanged($event)"
          [config]="helperService.CountryConfig" [options]="countries"></ngx-select-dropdown>
      </div>
      <div class="form-group dropDownBox">
          <ngx-select-dropdown [(ngModel)] = "user.state" [multiple]=false (change)="onStateChanged($event)"
          [config]="helperService.StateConfig" [options]="states"></ngx-select-dropdown>
      </div>
      <div class="form-group dropDownBox">
          <ngx-select-dropdown [(ngModel)] = "user.city"  [multiple]=false (change)="onCityChanged($event)"
          [config]="helperService.CityConfig" [options]="cities"></ngx-select-dropdown>
      </div>
      <div class="form-group">
      <textarea class="form-control" [(ngModel)] = "user.address" placeholder="Address"></textarea>
    </div>
    </div>
    <!-- <div class="ml-2 card rounded mb-2 pl-2 pr-2 pt-1" style="width: 18rem;clear: both;">
      <div class="btn-group pb-2 pt-2">
          <button class="btn btn-danger mr-2">Register</button>
          <button class="btn btn-secondary">Cancel</button>
    </div>
    </div> -->
  </div>
</div>
<div class="pb-2 pt-2 d-flex justify-content-center flex-row">
    <!-- <input type="submit" class="btn btn-danger btn-xs mr-2 w-50" value="Register" name="Register"> -->
    <button type="submit" class="btn btn-danger btn-xs mr-2 w-50" value="Register" name="Register">Register</button>
    <!-- <submit class="btn btn-danger btn-xs mr-2 w-50" data-toggle="modal" data-target="#userdetails">Register</submit> -->
</div>
</form>